<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <style>
    table, th, td {
        border: 2px solid #454B1B;
        text-align: center;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }

    tr:hover {
        background-color: #08a36a; color: white
    }

    a:link, a:visited {
        background-color: white;
        color: black;
        padding: 2px 2px;
        text-align: center;
        text-decoration: none;
        color:blue;
        display: inline-block;
        font-style: italic;
        text-decoration: underline;
        border-radius: 5px;
    }

    a:hover, a:active {
        background-color: #FF5F15;
        color: white;
    }
    </style>
</head>
<body>
        <h1>Search result(s)</h1>
<hr>
    <table>
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Category
                </th>
                <th>
                    Status
                </th>
                <th>
                    Location
                </th>
                <th>
                    Date
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>
                

            </tr>
        </thead>
        <tbody>
            <% items.forEach((item) => { %>
            <tr>
                <td>
                    <%= item.id %>
                </td>
                <td>
                    <%= item.name %>
                </td>
                <td>
                    <%= item.category %>
                </td>
                <td>
                    <%= item.status %>
                </td>
                <td>
                    <%= item.location %>
                </td>
                <td>
                    <%= item.date %>
                </td>
                <td>
                    <a href="/edit?_id=<%= item._id %>" id="edit_btn">Edit
                </td>
                <td>
                    <a href="/delete?_id=<%= item._id %>" id="delete_btn">Delete
                </td>
            </tr>
            <input type="hidden" name="id" value="<%= item._id %>">
            <%} )%>
        </tbody>
    </table>
    <br>
    <br>


    
    <a href="/" role="button"><i>Back to homepage</i></a>
</body>
</html>
